.well-box-blue {
border-top-color: #3853BF;
border-top-width: 5px;
}

.well-box-darkgreen {
border-top-color: #215C19;
border-top-width: 5px;
}

.well-box-purple {
border-top-color: #AB3AA4;
border-top-width: 5px;
}

.well-box-red {
border-top-color: #B53423;
border-top-width: 5px;
}

.well-box-lightblue {
border-top-color: #2CDAFF;
border-top-width: 5px;
}

.well-box-lightgreen {
border-top-color: #1DD116;
border-top-width: 5px;
}
